.username-box {
	text-align: center;
}

.course-box {
	text-align: center;
}

.edit-course {
	text-align: center;
}

#course-list {
	display: none;
}

input.largerCheckbox
{
	width: 20px;
	height: 20px;
}